/* 
Background color:  #fffffe
Main color: #d1d1e9
Highlight color: #e45858
text color: #2b2c34
Btn color: #6246ea
*/

* {
  box-sizing: border-box;
}

h1,
h2,
h4 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

body {
  background-color: #fffffe;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 97vh;
  width: 435px;
  background-color: #d1d1e9;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.music-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  border-radius: 10px;
}

.album-image {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #e45858;
  border-radius: 50%;
}

.disc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fffffe;
}

.track-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2b2c34;
}
.track-title {
  font-size: 28px;
}

.progress-container {
  background-color: #fff3ec;
  height: 5px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}
.progress {
  height: 5px;
  background-color: #e45858;
  width: 0;
}
.btn-container {
  margin-top: 20px;
}

.btn {
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  margin: 9px;
  background-color: #6246ea;
  outline: none;
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
i {
  color: #fffffe;
}

.action {
  font-size: 25px;
  padding: 10px 20px 10px 20px;
}

.selected {
  background-color: #3714e6;
}
