/* 
Background color:  #fffffe
Main color: #d1d1e9
Highlight color: #e45858
text color: #2b2c34
Btn color: #6246ea
*/

* {
  box-sizing: border-box;
}

h1,
h2,
h4 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

body {
  background-image: url(./images/dot-grid.png);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* height: 97vh; */
  padding: 1%;
  width: 50%;
  min-width: 26em;
  background-color: rgba(163, 144, 104, 0.808);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.music-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 99%;
  border-radius: 10px;
}

.album-image {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #000;
  border-radius: 50%;
  margin-top: 1em;
  /* transition: transform ease-in 0.1s; */
}
.rotate {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.disc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #fffffe;
}

/* .album-image:hover {
  transform: scale(1.1);
} */

.track-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2b2c34;
}
.track-title {
  font-size: 28px;
}

.time-container {
  display: flex;
  justify-content: space-between;
  width: 98%;
  font-family: 'Roboto Slab';
  margin-bottom: 5px;
}

.progress-container {
  background-color: #fff3ec;
  height: 0.35em;
  width: 98%;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 20em;
}
.progress {
  height: 100%;
  border-radius: 20em;
  background-color: #e45858;
  width: 0;
  transition: width ease-in 200ms;
}
.btn-container {
  margin-top: 20px;
}

.btn {
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  margin: 9px;
  background-color: #444444;
  outline: none;
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: background-color ease-in 0.2s;
}

.btn:hover {
  cursor: pointer;
  background-color: #333333;
}
i {
  color: #fffffe;
}

.action {
  font-size: 25px;
  padding: 10px 20px 10px 20px;
}

.selected {
  background-color: #3714e6;
}
